@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;500;700&display=swap");

/* 共通 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
}

h1, h2 {
  font-family: 'Noto Sans JP', sans-serif;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 834px;
  margin: 0 auto;
  gap: 20px 0;
}

.page-title h1 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: rgb(144, 146, 252);
  padding: 5px;
  letter-spacing: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.page-article-container {
  width: 80%;
  margin: 0 auto;
}


/* //////////// */
/* PC,iPad用設定 */
/* //////////// */

/* ヘッダーナビゲーション */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 16vh;
  background-color: rgb(229, 230, 237);
  width: 90%;
  margin: 0px auto;
}

.logo {
  margin-left: 20px
}

.nav-links {
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.search_container{
  display: inline-flex;
  margin-right: 10px;

}
.search_container input[type="text"]{
  background: #fff;
  border: 1px solid;
  border-radius: 2px;
  height: 2.5em;
  width: 130px;
  padding: 5px;
}
.search_container input[type="submit"]{
  cursor: pointer;
  border: none;
  background: darkslateblue;
  color: #fff;
  outline : none;
  height: 2.5em;
  padding: 4px;
  border: 1px solid darkslateblue;
  border-radius: 2px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 5px;
  transition: 0.5s ease;
}

.nav-active {
  transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    margin: 0px auto 20px;
  }
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px) { /* iPad mini横幅一杯 */
  /* body {
    display: none;
  } */
  body {
    overflow-x: hidden;
  }
  .nav-links {
    /* display: flex; */
    position: absolute;
    z-index: 10; /* トグルメニューをトップ画像の上に出すために必要 */
    right: 0;
    height: 48vh;
    top: 12vh;
    background-color: rgb(229, 230, 237);
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0.9;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .search_container input[type="text"]{
    width: 200px;
  }

  .burger {
    display: block;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}



/* トップページ */
.home-container {
  display: grid;
  max-width: 834px;
  grid-template-columns: 1fr;
  grid-template-rows: 313px auto 1fr auto;
  margin: 0 auto;
  gap: 10px 0;
  position: relative;
  
}

.backgroundimage {
  width: 100%;
  height: 100%;
}

.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5px;
  margin: 10px 0 0 0;
}
.sec1 h2 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: rgb(144, 146, 252);
  padding: 5px;
}
.sec1 li {
  font-weight: 300;
  font-size: 16px;
  padding: 2px;
  list-style: none;
}

.sec2 h2 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: rgb(144, 146, 252);
  padding: 5px;
}
.sec2 li {
  font-weight: 300;
  font-size: 16px;
  padding: 2px;
  list-style: none;
}

.page-title h2 {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: rgb(144, 146, 252);
  padding: 5px;
  letter-spacing: 1em;
  text-align: center;
  margin-bottom: 10px;
}

/* トップページ＆事業内容ページ共通 */
.card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content:stretch;
  gap: 5px;
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  width: 31%;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: rgb(144, 146, 252);
  margin: 0 10px;
}
.card-link a:hover {
  color: #0bd;
}


/* 会社概要 */
.about-table {
  width: 80%;
  margin: 0 auto;
}

.about-table th,
.about-table td {
  font-size: 14px;
  font-weight: 300;
  font-family: 'sans-serif';
  padding: 10px 0;
  border: none;
}

.about-table th {
  width: 30%;
  text-align: left;
  vertical-align: top;
}


/* お問い合わせページ */
.Form {
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
}
.Form-Item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
.Form-Item-Label {
  width: 33%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 16px;
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 36px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 12px;
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 16px;
  font-weight: 300;
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 16px;
  font-weight: 300;
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  flex: 1;
  margin-left: 20px;
  width: 100%;
  max-width: 410px;
}

/* インフォメーション一覧ページ */
.info-card {
  display: flexbox;
  box-sizing: border-box;
  width: 80%;
  padding: 1.2em 0.8em;
  margin: 0 auto;
  color: #333;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;
}
.info-title,
.info-content {
  margin: 0;
}
.info-title {
  font-size: 1.1em;
  font-weight: 400;
}
.info-content {
  padding: 1em 0;
  font-size: 1em;
  font-weight: 300;
}
.info-link {
  margin: 1em 0;
  font-size: 1em;
  color: #00b5ad;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.8em;
}
.info-link:hover {
  border-bottom: #00b5ad 1px solid;
}


/* フッター */
.footer {
  background-color: rgb(229, 230, 237);
  color: black;
  font-weight: 300;
  padding: 20px;
  max-width: 834px;
  margin: 10px auto;
  text-align: center;
}


/* //////////// */
/* スマフォ用設定 */
/* //////////// */
@media screen and (max-width: 414px) {

  /* トップページ */
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 270px auto 1fr auto;
    margin: 0 auto;
    gap: 5px 0;
  }

  .sec {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 10px;
    margin: 10px 0 0 0;
  }

  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 5px;
  }
  .card {
    width: 100%;
  }
  .card-img {
    width: 100%;
  }

  /* 会社概要 */
  .about-table {
    width: 90%;
    margin: 0 auto;
  }

  /* お問い合わせページ */
  .Form-Item-Label {
    width: 33%;
    max-width: 200px;
    letter-spacing: 0.05em;
    font-weight: 300;
    font-size: 14px;
  }
}